@font-face {
    font-family: 'TT Commons Regular';
    src: url('../fonts/TTCommons-Regular.eot');
    src: url('../fonts/TTCommons-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-Regular.woff') format('woff'),
    url('../fonts/TTCommons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'TT Commons ExtraBold';
    src: url('../fonts/TTCommons-ExtraBold.eot');
    src: url('../fonts/?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-ExtraBold.woff') format('woff'),
    url('../fonts/TTCommons-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

