// Color information
@use '../colors' as *

.navbar
    background-color: $dark-background
    &__wrapper
        display: flex
        align-items: center
        justify-content: space-between
        padding: 18px 0       
    &__link
        // padding-top: 10px
        // padding-bottom: 10px
        font-size: 18px
        margin-left: 32px
        text-decoration: none
        color: $white-text
        &:hover
            color: $primary
            border-bottom: 1px solid $primary
            transition: 0.2s
    &__logo-text
        display: flex
        align-items: center
        justify-content: flex-start
        text-decoration: none
        font-size: 32px
        color: $white-text
    &__logo-img
        max-width: 40px
        margin-left: 10px
    &__logo:hover
        .navbar__logo-img
            transform: rotate(180deg)
            transition: 0.4s
        

    
